<%- include("header") -%>
<h1>This is the about page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo culpa architecto cum quia nihil ad officia explicabo nobis suscipit!z
</p>

<%- include("footer") -%>